<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>BEA - Home Page</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

   <!-- App CSS -->
  <link rel="stylesheet" href="/styles/app.css" type="text/css"/>

  <!-- External JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- App JQuery -->
  <script type="text/javascript" src="/scripts/goofspeil.js"></script>

</head>

<body class="bump-down">

  <div class= "nav-bar">
  <% include ./partials/_nav_game %>
  </div>

     <div class='container'>
      <div class='row play-area'>

        <div class = "opponent row-sm-3">
          <img class="opponent-card-deck card-deck" id="card-1-opponent" src="/images/cards/<%= user.p1.cards[0]+user.p1.suit%>.png">
          <img class="opponent-card-deck card-deck" id="card-1-opponent" src="/images/cards/<%= user.p1.cards[1]+user.p1.suit%>.png">
          <img class="opponent-card-deck card-deck" id="card-1-opponent" src="/images/cards/<%= user.p1.cards[2]+user.p1.suit%>.png">
          <img class="opponent-card-deck card-deck" id="card-1-opponent" src="/images/cards/<%= user.p1.cards[3]+user.p1.suit%>.png">
          <img class="opponent-card-deck card-deck" id="card-1-opponent" src="/images/cards/<%= user.p1.cards[4]+user.p1.suit%>.png">
          <img class="opponent-card-deck card-deck" id="card-1-opponent" src="/images/cards/<%= user.p1.cards[5]+user.p1.suit%>.png">
          <img class="opponent-card-deck card-deck" id="card-1-opponent" src="/images/cards/<%= user.p1.cards[6]+user.p1.suit%>.png">
          <img class="opponent-card-deck card-deck" id="card-1-opponent" src="/images/cards/<%= user.p1.cards[7]+user.p1.suit%>.png">
          <img class="opponent-card-deck card-deck" id="card-1-opponent" src="/images/cards/<%= user.p1.cards[8]+user.p1.suit%>.png">
          <img class="opponent-card-deck card-deck" id="card-1-opponent" src="/images/cards/<%= user.p1.cards[9]+user.p1.suit%>.png">
          <img class="opponent-card-deck card-deck" id="card-1-opponent" src="/images/cards/<%= user.p1.cards[10]+user.p1.suit%>.png">
          <img class="opponent-card-deck card-deck" id="card-1-opponent" src="/images/cards/<%= user.p1.cards[11]+user.p1.suit%>.png">
          <img class="opponent-card-deck card-deck" id="card-1-opponent" src="/images/cards/<%= user.p1.cards[12]+user.p1.suit%>.png">

          <div class="navbar-form navbar-right">Player 1  Score:<%= name %></div>
        </div>
        <br>

        <div class= "prize row-lg-2">
          <img class="card-deck" id="card-deck-table" src="/images/card_logo.png">
          <img class="card-deck" id="card-prize-table" src="/images/card_logo.png">
          <img class="card-deck" id="card-player1-table" src="/images/card_logo.png">
          <img class="card-deck" id="card-player2-table" src="/images/card_logo.png">
        </div>
        <br>
        <br>
        <div class= "player_deck row-sm-3">
          <img class="opponent-card-deck card-deck" id="card-1-opponent" src="/images/cards/<%= user.p2.cards[0]+user.p2.suit%>.png">
          <img class="opponent-card-deck card-deck" id="card-1-opponent" src="/images/cards/<%= user.p2.cards[1]+user.p2.suit%>.png">
          <img class="opponent-card-deck card-deck" id="card-1-opponent" src="/images/cards/<%= user.p2.cards[2]+user.p2.suit%>.png">
          <img class="opponent-card-deck card-deck" id="card-1-opponent" src="/images/cards/<%= user.p2.cards[3]+user.p2.suit%>.png">
          <img class="opponent-card-deck card-deck" id="card-1-opponent" src="/images/cards/<%= user.p2.cards[4]+user.p2.suit%>.png">
          <img class="opponent-card-deck card-deck" id="card-1-opponent" src="/images/cards/<%= user.p2.cards[5]+user.p2.suit%>.png">
          <img class="opponent-card-deck card-deck" id="card-1-opponent" src="/images/cards/<%= user.p2.cards[6]+user.p2.suit%>.png">
          <img class="opponent-card-deck card-deck" id="card-1-opponent" src="/images/cards/<%= user.p2.cards[7]+user.p2.suit%>.png">
          <img class="opponent-card-deck card-deck" id="card-1-opponent" src="/images/cards/<%= user.p2.cards[8]+user.p2.suit%>.png">
          <img class="opponent-card-deck card-deck" id="card-1-opponent" src="/images/cards/<%= user.p2.cards[9]+user.p2.suit%>.png">
          <img class="opponent-card-deck card-deck" id="card-1-opponent" src="/images/cards/<%= user.p2.cards[10]+user.p2.suit%>.png">
          <img class="opponent-card-deck card-deck" id="card-1-opponent" src="/images/cards/<%= user.p2.cards[11]+user.p2.suit%>.png">
          <img class="opponent-card-deck card-deck" id="card-1-opponent" src="/images/cards/<%= user.p2.cards[12]+user.p2.suit%>.png">

          <div class="navbar-form navbar-right">Player 2 Score:<%= name %></div>
        </div>
        <br>
      </div>
    </div>
  </body>
</html>
