<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>BEA - Home Page</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

   <!-- App CSS -->
  <link rel="stylesheet" href="/styles/app.css" type="text/css"/>

  <!-- External JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- App JQuery -->
  <script type="text/javascript" src="/scripts/goofspeil.js"></script>

</head>

<body class="bump-down">

  <div class= "nav-bar">
  <% include ./partials/_nav_game %>
  </div>

     <div class='container'>
      <div class='row play-area'>

        <div class = "opponent row-sm-3">
          <% for(var i=0; i<user.p2.cards.length; i++) {%>
            <img class="opponent-card-deck card-deck" src="/images/cards/back.jpg">
              <% } %>

          <div class="navbar-form navbar-right">Player 2  Score: <%= user.p2.score %></div>
        </div>
        <br>

        <div class= "prize row-lg-2">
          <img class="card-deck" id="card-deck-table" src="/images/cards/back.jpg">
          <img class="card-deck" id="card-prize-table" src="/images/card_logo.png">
          <img class="card-deck" id="card-player1-table" src="/images/card_logo.png">
          <img class="card-deck" id="card-player2-table" src="/images/card_logo.png">
        </div>
        <br>
        <br>

        <div class= "player_deck row-sm-3">
          <% for(var i=0; i<user.p1.cards.length; i++) {%>
            <form method="post" action="/goofspeil/<%= user.gameid %>/<%= user.playerid %>/<%= user.p1.cards[i] %>">/goofspeil/<%= user.gameid %>/<%= user.playerid %>/<%= user.p1.cards[i] %>
            <input type="image" class="player-card-deck card-deck" src="/images/cards/<%= user.p1.cards[i]+user.p1.suit%>.png">

              <% } %>



          <div class="navbar-form navbar-right">Player 1 Score: <%= user.p1.score %></div>
        </div>
        <br>
      </div>
    </div>
  </body>
</html>
